*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: Montserrat;
}

:root {
  /* ============================
     PRIMARY PALETTE
     ============================ */
  --primary-green-1: #3B8A77;
  --primary-green-2: #3CAB63;
  --primary-green-3: #00A63E;
  --primary-green-light-1: #5FFF96;
  --primary-green-light-2: #ADFFC9;

  --primary-blue-1: #1447E6;
  --primary-blue-2: #155DFC;

  /* ============================
     SECONDARY / ACCENT COLORS
     ============================ */
  --accent-orange-1: #F7621E;
  --accent-orange-2: #FF928A;
  --accent-orange-3: #FF9A6C;
  --accent-orange-4: #FFBEA1;
  --accent-cream: #FAFFE4;

  --accent-purple: #8979FF;
  --accent-teal: #3CC3DF;

  --accent-gradient: linear-gradient(120deg, #3CC3DF, #ADFFC9);

  /* ============================
     DARK / MID TONES
     ============================ */
  --dark-blue-1: #0D1B54;
  --dark-blue-2: #47517C;
  --dark-blue-3: #737B9B;

  --dark-neutral-1: #0A0A0A;
  --dark-neutral-2: #7A7A7A;
  --dark-neutral-3: #808080;

  /* ============================
     LIGHT / NEUTRAL SYSTEM
     ============================ */
  --neutral-light-1: #C6C6C6;
  --neutral-light-2: #F0F0F0;

  /* Landing page background color */
  --neutral-light-3: #E3EFFF;
}

/* REUSABLE CLASSES */

/* bottom navigation */
.nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  box-shadow: 0px 0px 17.45px 0px #0000001f;
  z-index: 1000;
}


.nav__item {
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  width: 100%;
  height: 100%;
  gap: 0.6rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.nav__text {
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 400;
}

/* DASHBOARD SECTION */
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard__container {
    display: flex;
    flex-direction: column;
    padding: 6.3rem 12rem;
}

.dashboard__title {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
    
.dashboard__header__text {
    font-weight: 700;
    font-size: 3.28rem;
    line-height: 5.87rem;
    color: var(--dark-blue-1);
}

.dashboard__notification__container {
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 50%;
    background-color: var(--neutral-light-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__notification__icon {
    font-size: 2.8rem;
    color: var(--dark-blue-1);
}

.dashboard__description {
    font-weight: 400;
    font-size: 1.9rem;
    color: #808080;
}

.download__section {
    display: flex;
    justify-content: center;
}
.download__section__title {
    display: flex;
    width: 73.829rem;
    height: 9.03rem;
    padding: 2.05rem 4.1rem;
    border-radius: 5.3rem 0 0 5.3rem;
    background:  var(--dark-blue-1);
}

.download__section__text {
    font-weight: 700;
    font-size: 2.88rem;
    line-height: 4.2rem;
    color: #FFFFFF;
}

.download__button {
    display: flex;
    width: 9.85rem;
    height: 9.03rem;
    padding: 20.515px 41.029px;
    border-radius: 0 5.3rem 5.3rem 0;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    margin-bottom: 4rem;
}

.see-more {
    display: flex;
    padding: 1.5rem 3rem;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 1.5rem;
    border-radius: 2.4rem;
    border: 0.15rem solid var(--primary-blue-1);
}

.see-more__text {
    font-weight: 400;
    font-size: 1.8rem;
    color: black;
}

.ph-arrow-right {
    font-size: 3.6rem;
    color: var(--dark-blue-1);
}

.quick__action__section {
    display: flex;
    width: 83.7rem;
    flex-direction: column;
    align-items: center;
    gap: 8.206px;
}

.quick__action__title {
    font-weight: 700;
    font-size: 2.88rem;
    line-height: 4.2rem;
    color: var(--dark-blue-1);
    margin-bottom: 2.4rem;
}

/* Bottom Nav Icon */
.bottom-nav__icon {
  width: 4rem;
  height: 4rem;
}