*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 500px; */
}
.setting_image{
    height: 100px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
}
.setting_edit{
    height: 30px;
    width: 30px;
    background-color: rgb(93, 140, 226);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 350px;
}
h5{
    margin-top: 20px;
}
#detail{
height: 40px;
width: 250px;
text-align: start;
padding: 10px;
margin: 10px;
background-color: rgb(202, 200, 209);
border: 1px solid gray;
border-radius: 10px;
font-weight: bold;
}
button{
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
    background-color: rgb(24, 24, 70);
    margin-left: 10px;
    margin-top: 30px;
    color: white;
}
p{
    text-align: end;
    font-size: 15px;
    color: red;
    margin-bottom: 40px;
}
.help_container{
    background-color: #ffffff;
    box-shadow: 3px 3px  0.7px rgb(97, 91, 91);
    border: none;
    border-radius: 10px;
    margin-top : 30px;
    margin-left : 10px;
    padding: 10px;
    width: 250px;
}
.paragraph{
    color: black;
    margin-bottom: 0;
    line-height: 2;
    font-weight: bold;
}