
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.skip {
  text-align: right;
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  background: #ffffff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.left img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.right {
  max-width: 450px;
  margin-top: 20px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

p {
  color: #777;
  line-height: 1.5;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}

.active {
  background: #00204a;
}

.next {
  text-align: right;
  width: 90%;
  max-width: 1100px;
  margin: 10px auto;
  color: #0020ff;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 800px) {
  .container {
    text-align: center;
    flex-direction: column;
  }

  .right {
    max-width: 100%;
  }

  h2 {
    font-size: 24px;
  }
}
